h1 { margin-top: 6pc; color: gray; }
h2 { margin-top: 6pc; color: gray; font-variant: small-caps; border-bottom: 1px solid rgba(0,0,0,0.3); }
h3 { margin-top: 3pc; margin-bottom: 0; color: gray; border-bottom: 1px solid rgba(0,0,0,0.1); }
h4 { margin-top: 3pc; margin-bottom: 0; color: gray; }
